*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.u_75 {
  width: 75%;
}

.u_center {
  margin: 0 auto;
}

.u_flex {
  display: flex;
}

.u_flex_c {
  display: flex;
  align-self: center;
}

.u_flex_col {
  display: flex;
  flex-direction: column;
}

.u_flex_sp {
  display: flex;
  justify-content: space-between;
}

.u_mr_s {
  margin-right: 1.5rem;
}

.u_mb_s {
  margin-bottom: 1.5rem;
}

.u_mb_bg {
  margin-bottom: 4rem;
}

.u_f14 {
  font-size: 1.4rem;
}

.u_f16 {
  font-size: 1.6rem;
}

.u_jc {
  justify-content: center;
}